* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* how do I make the background image opaque? */
  display: flex;
  flex-direction: column;
  background-image: url(images/paris.jpeg);
  background-attachment: fixed;
  background-color: #c5cbc0;
}

/* Nav Bar Section Here */

header {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: rgba(59, 58, 60, 0.712);
  border-bottom: solid black 4px;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fff;
  font-size: 300%;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  margin-left: 2rem;
}

nav a {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(253, 235, 254, 0.7);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: white;
}

/* End Nav Bar */

/* Headshot + About Me */ 

section {
  width: 100%;
  margin-top: auto;
}

aside {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin-right:5%;
  flex: 1 1 0;
  width: 55%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.831);
  border: solid black 3px;
}

h2 {
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

aside p {
  font-size: 16px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

#headshot {
  width: 32%;
  margin-left: 5%;
  border-radius: 50%;
  border: solid rgb(225, 195, 200, 0.7) 30px;
  outline: 3px solid black;
  margin-top: 10px;
}

/* End Section */

/* Main Portfolio Picture */

#kyoto {
  display: block;
  border: 15px solid rgba(0, 0, 0, 0.295);
  width: 75.7%;
  margin-top: 10px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 3px;
}

/* Grid Section with smaller photos */ 

#portfolio {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

#portfolio img {
  border: 15px solid rgba(0, 0, 0, 0.295);
  width: 540px;
  height: 360px;
}

.card {
  margin-left: auto;
  margin-right: auto;
}

/* Insert HOVER styling here? How do I add black transparent hover effect with text? */ 

.text {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  font-size: 70px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.text {
  visibility: none; opacity: 0;
  transition: opacity 0.3s;
}

.card:hover .text {
  position: relative;
  visibility: visible; opacity: 1;
}

/* Begin footer nav */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  height: 100px;
  background-color: rgba(59, 58, 60, 0.712);
  border-top: solid black 4px;
  list-style:none;
}

#contact a {
  margin-left: 5em;
}

#contact {
  display: flex;
}

#contact a:hover {
  color: white;
}

#contact a {
  margin-left: 1rem;
  margin-right: 1rem;
}

/* End footer nav */

/*--Media Query Section--*/

/* Tablet */

@media screen and (max-width: 992px) {
  #contact a {
    font-size: 80%;
  }

  #header {
    margin-left:auto;
    margin-right:auto;
  }

  aside {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #headshot {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: none;
  }

  #portfolio {
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #portfolio img {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}

/* Large smartphones */

@media screen and (max-width: 768px) {
  #contact a {
    font-size: 80%;
  }

  #header {
    margin-left:auto;
    margin-right:auto;
  }

  aside {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #headshot {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: none;
  }

  #kyoto {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  #portfolio {
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #portfolio img {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}

/* Small smartphone */

@media screen and (max-width:576px) {
  #contact a {
    font-size: 80%;
  }

  #header {
    margin-left:auto;
    margin-right:auto;
  }

  aside {
    float: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #headshot {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: none;
  }

  #portfolio {
    grid-template-columns: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #portfolio img {
    width: 100%;
    height: 100%;
  }

  .card {
    width: 100%;
    height: 100%;
  }
}

